@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');


$darkBlue: #202046;
$grayishBlue:#babacf;
$boxShadow: 0px 20px 20px 0px #2020467a;

$basicFontSize: 32px; 
$big-text: clamp(17px, 4vw, 25px); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    font-family: 'Inter', sans-serif;
}

main {
    background: #ffffff;
    min-height: 100vh;  
    display: flex;    
    align-items: center;
    justify-content: center;
    padding: 4em; 
    position: relative;    

    &::before {
        content: url("images/pattern-curve.svg");
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 0;        
    }
}

.wrap-content {
    position: relative;
}

.left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 5em 2em;
    position: relative;

    &::after {
        content: url("images/pattern-quotes.svg");
        position: absolute;
        top: 0;
        left: 5em;
    }

    .richText {
        width: 100%;
        .comment {
            font-size: $big-text; 
            color: $darkBlue;
            margin-bottom: 1.5em; 
            line-height: 130%;                    
        }

        .author-content {
            display: flex;
            flex-direction: row;
            column-gap: 8px;
            
            .author-fullname {
                font-weight: 900;            
            }
    
            .author-job {
                color: $grayishBlue;
                font-weight: 600;
            }
        }        
    }
}

.right-content {
    position: relative;
    background: url("images/pattern-bg.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 3em;

    img {        
        display: block;
        width: 100%;
        max-width: 740px;
        box-shadow: $boxShadow;
    }    
}

.carousel {
    max-width: 1400px;
    padding: 3em 2em;
    overflow-x: hidden;

    .carousel-inner {
        display: inline-flex;
        flex-direction: row;
        width: auto;       
    }

    .carousel-item {
        width: 100%;
        display: none;        
    }

    .carousel-item.active {
        display: block;
    }
    
    .carousel-item-content {
        display: grid;
        grid-template-columns: 55% 45%;
        align-items: center;          
    }
}

.container-buttons {
    position: absolute;
    transform: translateY(50%);
    display: inline-flex;
    height: 50px;
    width: 115px;
    bottom: 6em;
    z-index: 10;
    left: 60%;

    .button {
        height: 100%;
        width: 50%;
        padding: 1em; 
        background: #ffffff;
        border: transparent;  
        cursor: pointer;                        
    }

    .carousel-control-prev {
        border-radius: 25px 0 0 25px;
        position: relative;
        &::after {
            content: url("images/icon-prev.svg");
            position: absolute;            
            top: 50%;
            font-size: 2em;
            transform: translate(0, -50%);
            left: 30%;
        }
    }

    .carousel-control-next {
        border-radius: 0 25px 25px 0;
        &::after {
            content: url("images/icon-next.svg");
            position: absolute;            
            top: 50%;
            font-size: 2em;
            transform: translate(0, -50%);
            left: 70%;
        }
    }
}

@media screen and (max-width: 991px) {

    main {
        padding: 0 1em 1em; 
         
        background: url("images/pattern-curve.svg");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        &::before {
            display: none;
        }      
    }

    .carousel {
        padding: 1em;

        .carousel-inner {
            height: 85vh;
            max-height: 800px;
        }

        .carousel-item {
            width: 100%;
        }

        .carousel-item-content {
            height: auto;            
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-end;
            row-gap: 1em;
        }
    }   

    .left-content {
        padding: 2em 0;
        justify-content: inherit;

        &::after {            
            
            left: 50%;
            transform: translateX(-50%);
        }

        .comment {
            margin-bottom: 1.5em;
        }

        .author-content {
            display: flex;
            flex-direction: column!important;
            text-align: center;

            .author-fullname {
                font-weight: 900;
            }
        }
    }
    
    .right-content {  
        padding: 2.1em;     
    
        img {        
            display: block;
            width: 100%;
            max-width: 350px;            
        }    
    }

    .container-buttons {
        width: 85px;
        top: 38%;
        left: 50%;
        right: 0;
        transform: translate(-50%, 50%);
        // margin: auto;
    }
}

@media screen and(max-width: 578px) {

    main {
        align-items: center;
    }

}
