@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

main {
  background: #ffffff;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4em;
}

.wrap-content {
  position: relative;
}

.left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 2em;
}

.left-content .richText {
  width: 100%;
}

.left-content .richText .comment {
  font-size: clamp(16px, 5vw, 25px);
  color: #202046;
}

.left-content .richText .author-fullname {
  margin-bottom: 8px;
}

.left-content .richText .author-job {
  color: #babacf;
  font-weight: 600;
}

.right-content {
  position: relative;
}

.right-content img {
  display: block;
  width: 100%;
  max-width: 740px;
  -webkit-box-shadow: 0px 20px 20px 0px #2020467a;
          box-shadow: 0px 20px 20px 0px #2020467a;
}

.carousel {
  max-width: 850px;
  padding: 3em 2em;
  overflow-x: hidden;
}

.carousel .carousel-inner {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: auto;
}

.carousel .carousel-item {
  width: 800px;
  display: none;
}

.carousel .carousel-item.active {
  display: block;
}

.carousel .carousel-item-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% 45%;
      grid-template-columns: 55% 45%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-buttons {
  position: absolute;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 50px;
  width: 150px;
  bottom: 50px;
  z-index: 10;
  left: 60%;
}

.container-buttons .button {
  height: 100%;
  width: 50%;
  padding: 1em;
  background: #ffffff;
  border: transparent;
  cursor: pointer;
}

.container-buttons .carousel-control-prev {
  border-radius: 25px 0 0 25px;
  position: relative;
}

.container-buttons .carousel-control-prev::after {
  content: "<";
  position: absolute;
  color: #202046;
  top: 50%;
  font-size: 2em;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 30%;
}

.container-buttons .carousel-control-next {
  border-radius: 0 25px 25px 0;
}

.container-buttons .carousel-control-next::after {
  content: ">";
  position: absolute;
  color: #202046;
  top: 50%;
  font-size: 2em;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 70%;
}

@media screen and (max-width: 768px) {
  main {
    padding: 2em;
  }
  .carousel {
    padding: 1em;
  }
  .carousel .carousel-item {
    width: 100%;
  }
  .carousel .carousel-item-content {
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 5em;
  }
  .left-content {
    padding: 0;
    -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
  }
  .left-content .comment {
    margin-bottom: 1.5em;
  }
  .left-content .author-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .left-content .author-content .author-fullname {
    font-weight: 900;
  }
  .right-content {
    position: relative;
  }
  .right-content img {
    display: block;
    width: 100%;
    max-width: 260px;
  }
  .container-buttons {
    bottom: 50%;
    left: 0;
    right: 0;
    margin: auto;
  }
}
/*# sourceMappingURL=style.css.map */