@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');


$darkBlue: hsl(240, 38%, 20%);
$grayishBlue:hsl(240, 18%, 77%);

$basicFontSize: 32px; 
$big-text: clamp(21px, 7vw, 25px); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Inter', sans-serif;
}

main {
    background: #ffffff;
    min-height: 100vh;  
    display: flex;    
    align-items: center;
    justify-content: center;
    padding: 4em; 
}

.wrap-content {
    position: relative;
}

.left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2em;

    .richText {
        width: 100%;
        .comment {
            font-size: $big-text; 
            color: $darkBlue;                     
        }
    }
}

.right-content {
    position: relative;

    img {        
        display: block;
        width: 100%;
        box-shadow: 0px 20px 20px 0px #0000004f;
    }    
}

.carousel {
    max-width: 850px;
    padding: 3em 2em;
    overflow: hidden;

    .carousel-inner {
        display: inline-flex;
        flex-direction: row;
        width: auto;       
    }

    .carousel-item {
        width: 800px;
    }
    
    .carousel-item-content {
        display: grid;
        grid-template-columns: 55% 45%;
        align-items: center;          
    }
}

.container-buttons {
    position: absolute;
    bottom: 0;
    left: 35px;
    transform: translateY(50%);
    display: inline-flex;
    height: 50px;
    width: 150px;

    .button {
        height: 100%;
        width: 50%;
        padding: 1em; 
        background: #ffffff;
        border: transparent;  
        cursor: pointer;         
    }

    .carousel-control-prev {
        border-radius: 20px 0 0 20px;
    }

    .carousel-control-next {
        border-radius: 0 20px 20px 0;
    }
}
